<section class="found-recipes-section-1">

{{#each foundRecipes}}
  <div class="found-recipes-parent-div">

    <img class="found-recipes-img" src="{{this.image}}">
    <p>{{this.title}}</p>
    <p>Ready In: {{this.readyInMinutes}} Minutes</p>
    <p>Serving Size: {{this.servings}}</p>
    <p>Score: {{this.spoonacularScore}}</p>
    <a class="found-recipes-a" href="/search-recipes/{{this.id}}">View Recipe</a>

  </div>
{{/each}} 
{{message}}

</section>



Í