<h1>Searched Recipe</h1>

{{#each foundRecipes}}

<p><img src="{{this.image}}"></p>
<p>Title: {{this.title}}</p>
<p>Ready In: {{this.readyInMinutes}} Minutes</p>
<p>Serving Size: {{this.servings}}</p>
<p>Score: {{this.spoonacularScore}}</p>
<a href="/search-recipes/{{this.id}}">View Recipe</a>
<hr/>

{{/each}} 

{{message}}



