<h1>My Recipes</h1>

{{#each myRecipes}}

<p>Title: {{this.title}}</p>
<p>Ready Time: {{this.readyInMinutes}}</p>
<p>Ingredients: {{this.ingredients}}</p>
<p>Instructions: {{this.instructions}}</p>
<p>Notes: {{this.notes}}</p>
<a href="/recipes/my-recipes/{{this._id}}/edit">Edit Recipe</a>
<hr/>

{{/each}} 

{{message}}